<link rel="stylesheet" itemprop="url" href="{{ site.baseurl }}/assets/css/banner.css">
<!-- <div class="rgb-banner" style="background-image: url({{ site.baseurl }}/assets/images/banner.svg)"> -->
<div class="rgb-banner">
  <!-- <img class="rgb-banner-icon" src="{{ site.baseurl }}/assets/icons/rgb/rgb-logo.svg"> -->
  <img class="rgb-banner-icon" src="{{ site.baseurl }}/assets/icons/rgb/rgb-logo-alt.svg">
  <div></div>
  <h1 class="rgb-banner-text">RGB Studios<small>.org</small></h1>
  <h4 class="rgb-banner-subtext">A web development company</h4>

</div>