<link rel="stylesheet" itemprop="url" href="{{ site.baseurl }}/&styles/footer.css">

<div class="rgb-wht-divide"></div>

<div class="container text-center py-3">

  <a href="#" class="rgb-clr-light">Our Team</a>
  <span class="rgb-clr-light">&nbsp;|&nbsp;</span>
  <a href="#" class="rgb-clr-light">Projects</a>
  <span class="rgb-clr-light">&nbsp;|&nbsp;</span>
  <a href="#" class="rgb-clr-light">Development Blog</a>
  <span class="rgb-clr-light">&nbsp;|&nbsp;</span>
  <a href="#" class="rgb-clr-light">Contact / Support</a>

  <div class="pt-4 pb-3">
    <a class="my-4 rgb-ftr-name rgb-clr-light" href="{{ site.baseurl }}"><img class="rgb-ftr-logo" src="{{ site.baseurl }}/&images/rgb-logo.svg">&nbsp;RGB Studios.org</a>
  </div>

</div>
