<link rel="stylesheet" itemprop="url" href="{{ site.baseurl }}/&styles/header.css">

<div class="rgb-hdr-divide"></div>

<nav class="navbar navbar-expand-lg p-0 rgb-hdr-navbar">

  <a class="navbar-brand ml-4 rgb-clr-light" href="#"><img class="rgb-hdr-logo" src="{{ site.baseurl }}/&images/rgb-logo.svg">&nbsp;RGB Studios.org</a>

  <!-- Toggle Button -->
  <button class="navbar-toggler mr-4 rgb-hdr-navbar-toggler" type="button" data-toggle="collapse" data-target="#rgbHeaderCollapsibleNavbar">
    <i class="fa fa-bars rgb-clr-light"></i>
  </button>

  <!-- Main Nav Options -->
  <div class="collapse navbar-collapse" id="rgbHeaderCollapsibleNavbar">

    <ul class="navbar-nav mr-auto">

      <div class="mx-3 rgb-hdr-divide-sm"></div>

      <li class="nav-item">
        <a class="nav-link rgb-hdr-nav-item rgb-clr-light" href=#>Projects</a>
      </li>

      <div class="mx-3 rgb-hdr-divide-sm"></div>

      <li class="nav-item">
        <a class="nav-link rgb-hdr-nav-item rgb-clr-light" href=#>Dev Blog</a>
      </li>

      <div class="mx-3 rgb-hdr-divide-sm"></div>

      <li class="nav-item">
        <a class="nav-link rgb-hdr-nav-item rgb-clr-light" href=#>About Us</a>
      </li>

      <div class="mx-3 rgb-hdr-divide-sm"></div>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle rgb-hdr-dropdown-toggle rgb-hdr-nav-item rgb-clr-light" href="#" id="rgbHeaderDropdown" data-toggle="dropdown">
          More...
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Request a Quote</a>
          <a class="dropdown-item" href="#">Help with Chrome Apps</a>
        </div>
      </li>
    </ul>

    <div class="mx-3 rgb-hdr-divide-sm"></div>

    <div class="row text-center mx-4">
      <div class="col p-2">
        <a href="#" target="_blank">
          <i class="fa fa-envelope rgb-hdr-icon rgb-clr-light"></i>
        </a>
      </div>
      <div class="col p-2">
        <a href="#" target="_blank">
          <i class="fa fa-facebook-square rgb-hdr-icon rgb-clr-light"></i>
        </a>
      </div>
      <div class="col p-2">
        <a href="#" target="_blank">
          <i class="fa fa-youtube rgb-hdr-icon rgb-clr-light"></i>
        </a>
      </div>
      <div class="col p-2">
        <a href="#" target="_blank">
          <i class="fa fa-twitter rgb-hdr-icon rgb-clr-light"></i>
        </a>
      </div>
    </div>

    <!-- <ul class="navbar-nav mr-4">
      <li class="nav-item mx-2">
        <a href="mailto:support@rgbstudios.org?Subject=Regarding RGB Studios">
          <i class="fa fa-envelope rgb-hdr-icon rgb-clr-light"></i>
        </a>
      </li>
      <li class="nav-item mx-2">
        <a href="#" target="_blank">
          <i class="fa fa-facebook-square rgb-hdr-icon rgb-clr-light"></i>
        </a>
      </li>
      <li class="nav-item mx-2">
        <a href="#" target="_blank">
          <i class="fa fa-youtube rgb-hdr-icon rgb-clr-light"></i>
        </a>
      </li>
      <li class="nav-item mx-2">
        <a href="#" target="_blank">
          <i class="fa fa-twitter rgb-hdr-icon rgb-clr-light"></i>
        </a>
      </li>
    </ul> -->
  </div>

</nav>

<div class="rgb-hdr-divide"></div>
