.rgb-banner {
  width: 100%;
  /*min-width: 440px;*/
  /*height: 110px;*/

  /*background: linear-gradient(-45deg, #933 33%, #393 33%, #393 67%, #339 67%);*/
  background: linear-gradient(-45deg, rgba(153,51,51,.6) 33%, rgba(51,153,51,.6) 33%, #393 67%, rgba(51,51,153,.6) 67%);

  background-size: 100% auto;
  text-align: center;
  padding-bottom: 4px;
  /*NEW*/
}

.rgb-banner-icon {
  height: 128px;
  margin-top: -32px;
  transition: transform 1s ease-out;
  -webkit-transition: -webkit-transform 1s ease-out;
}
@media only screen and (max-width: 768px) {
  .rgb-banner-icon {
    height: 96px;
  }
  .rgb-banner {
    background: none;
  }
  .rgb-banner.red-select {
    background-color: rgba(153,51,51,.6);
  }
  .rgb-banner.green-select {
    background-color: rgba(51,153,51,.6);
  }
  .rgb-banner.blue-select {
    background-color: rgba(51,51,153,.6);
  }
}
.rgb-banner-icon:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);S
}
.rgb-banner-text, small {
  display: inline-block;
  color:  #fff;
  font-family: 'Saira Stencil One';
  margin-top: -8px;
  /*font-weight: 700;*/

  
  /*font-size: 40pt;*/
  /*letter-spacing: -1px;*/
}
.rgb-banner-subtext {
  margin-top: -8px;
  color: #fff;
  font-family: 'Francois One';

  /*margin-top: -36px;*/
}