.rgb-hdr-navbar {
  background: #333;
}

.rgb-hdr-divide {
  height: 3px;
  background: #ccc;
}
.rgb-hdr-divide-sm {
  display: none;
  height: 1px;
  background: #ccc;
}

.rgb-hdr-icon {
  font-size: 1.75rem;
}
.rgb-hdr-logo {
  height: 2.75rem;
}

.rgb-hdr-dropdown-toggle::after {
  content: none;
}

.rgb-hdr-navbar-toggler {
  border: 1px solid #ccc;
}

@media only screen and (max-width: 991px) {
  .rgb-hdr-nav-item {
    padding-left: 3rem !important;
  }
  .rgb-hdr-divide-sm {
    display: block;
  }
}
