select, input, button, textarea {
	background-color: transparent;
	border: 2px solid #19194d; /*20%*/
} select:hover, input:hover, button:hover, textarea:hover {
	box-shadow: 4px 8px 4px #19194d; /*20%*/
}