@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--brand-red: #cc3300;
		--brand-green: #339966;
		--brand-blue: #3366ff;
	}

	/* https://css-tricks.com/couple-takes-sticky-footer/#aa-there-is-grid */
	html {
		height: 100%;
	}
	body {
		min-height: 100%;
		display: grid;
		grid-template-rows: 1fr auto;
	}
	footer {
		grid-row-start: 2;
		grid-row-end: 3;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-display;
	}

	img {
		@apply select-none;
	}
}
